 <form class="form-signin text-center m-5 p-5">

      <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please Login</h1>

      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" name="email" class="form-control mb-4" placeholder="Email address" required>

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name="password" class="form-control mb-4" placeholder="Password" required>
      {{!-- <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div> --}}
      <button class="btn btn-lg btn-primary btn-block mb-3" type="submit">Login</button>
        <a href="/users/register">Dont't have an Account?Register </a>
      <p class="mt-5 mb-3 text-muted">&copy; Login App</p>
    </form>